<nav>
  <ul>
    <li>
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li>
      <a routerLink="/posts" routerLinkActive="active">Post</a>
    </li>
    <li>
      <a routerLink="/grocery" routerLinkActive="active">Grocery</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a routerLink="/todos">Todos</a>
    </li>
    <li *ngIf="isLoggedIn">
      <a routerLink="/logout">Logout</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a routerLink="/login">Login</a>
    </li>
    <li>
      <a routerLink="/register">Register</a>
    </li>
  </ul>
</nav>
